.heading {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  color: gold;
  background: linear-gradient(saddlebrown, burlywood);
  padding: 20px; }

.thread {
  padding: 1px 25px 0px 25px;
  background: linear-gradient(rgba(139, 69, 19, 0.45), rgba(222, 184, 135, 0.45)); }

a {
  color: lightblue;
  text-decoration: none; }

h1 > a {
  font-family: 'Libre Baskerville', sans-serif;
  color: gold !important;
  text-shadow: 2px 2px black;
  padding: 0; }

h4 {
  margin: 0;
  padding: 0; }

body {
  background-image: url("cigar-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'verdana', sans-serif;
  color: gold;
  text-shadow: 1px 1px black; }

.score {
  margin: 0;
  padding: 0; }

.post {
  display: none;
  padding: 5px 5px 5px 5px;
  border: 1px solid lightgray;
  background: linear-gradient(rgba(139, 69, 19, 0.5), rgba(222, 184, 135, 0.5));
  color: yellow;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.comments {
  padding: 10px 0px 25px 0px; }

.btnShowMore {
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-family: verdana, sans-serif;
  cursor: pointer;
  color: lightblue;
  text-shadow: 1px 1px black;
  padding: 10px 0px 0px 0px; }
