.heading {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  color: white;
  background: #76603a;
  /* The Fallback */
  background: rgba(118, 96, 58, 0.5);
  padding: 20px; }

.thread {
  padding: 25px 25px 0px 25px;
  border-bottom: 2px solid white;
  background: #76603a;
  /* The Fallback */
  background: rgba(118, 96, 58, 0.5); }

h1 {
  /*  font-family: 'Oswald', sans-serif; */
  font-family: 'Libre Baskerville', sans-serif;
  padding: 0; }

h4 {
  margin: 0;
  padding: 0; }

body {
  background-image: url("cigar-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'verdana', sans-serif;
  color: white; }

a {
  color: lightblue;
  text-decoration: none; }

.score {
  margin: 0;
  padding: 0; }

.post {
  display: block;
  padding: 5px 5px 5px 5px;
  border: 1px solid lightgray;
  background: #76603a;
  /* The Fallback */
  background: rgba(118, 96, 58, 0.5);
  color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.comments {
  padding: 10px 0px 25px 0px; }

button {
  color: black;
  font-size: 8px;
  cursor: pointer;
  width: 100px;
  height: 20px; }
