.thread {
  padding: 25px 25px 0px 25px;
  border-bottom: 2px solid white;
  background-color: #242526; }

h2 {
  /*  font-family: 'Oswald', sans-serif; */
  font-family: 'Libre Baskerville', sans-serif;
  margin: 0;
  padding: 0; }

h4 {
  margin: 0;
  padding: 0; }

body {
  font-family: 'verdana', sans-serif;
  color: #c04f2a; }

a {
  color: lightblue; }

.score {
  margin: 0;
  padding: 0; }

.post {
  display: block;
  padding: 5px 5px 5px 5px;
  border: 1px solid lightgray;
  background-color: #2d2d2d;
  color: lightgray;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.comments {
  padding: 0px 0px 25px 0px; }

button {
  color: black;
  font-size: 8px;
  cursor: pointer;
  width: 100px;
  height: 20px; }
